.close_btn_search{
    position: absolute;
    right: 5px;
    top: 5px;
    font-weight: bold;
    background-color: slategrey;
    height: 1rem;
}
.close_btn_order{
    position: absolute;
    right: 5px;
    top: 5px;
    font-weight: bold;
    background-color: slategrey;
    height: 1rem;
}
.close_btn_search:hover{
    cursor: pointer;
    background-color: white;
    border-radius: 50%;

}
.close_btn_order:hover{
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
}
.open_button_search{
    width: 10.3rem;
    height: 2.5rem;
    background-color: lightgreen;
    text-align: center;
    position: relative;
    display: none;
}
.open_button_search:active{
    box-shadow: 0 0 15px black;
}
.open_button_search:hover{
    cursor: pointer;
    color: darkgreen;
}
.open_button_order{
    width: 10.3rem;
    height: 2.5rem;
    background-color: lightgreen;
    text-align: center;
    position: relative;
    display: none;
}
.open_button_order:active{
    box-shadow: 0 0 15px black;
}
.open_button_order:hover{
    cursor: pointer;
    color: darkgreen;
}
.confirm_order_button{
    position: absolute;
    right: 25px;
    top: 5px;
    box-shadow: 0 0 15px black;
    background-color: slategrey;
    color: black;
}
.confirm_order_button:active{
    box-shadow: none;
}
.confirm_order_button:hover{
    color: white;
    cursor: pointer;
}
.table_button{
    position: relative;
    right: 2px;
    top: 5px;
    height: 1.5rem;
    width: 2rem;
}