.inline_container{
    display: inline-flex;
    height: 2rem;
}
.inline_container_j_between{
    display: inline-flex;
    width: 99%;
    margin-top: 25px;
    justify-content: space-between;
}
.all_details_container{
    border: 1px solid black;
    width: 99%;
    max-height: 150rem;
    position: relative;
    box-shadow: 0 0 10px black;
}
.insert_inline_container{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}
.detail{
    font-size: 0.8rem;
    width: 16%;
    margin-bottom: 5px;
    border-bottom: 1px solid darkgray;
    text-align: center;
    margin-left: 1px;
    margin-right: 1px;
    border-right: 1px solid black;
}
.detailT{
    width: 16%;
    margin-bottom: 5px;
    font-size: 0.8rem;
    text-align: center;
    margin-left: 1px;
    margin-right: 1px;
    border-right: 1px solid black;
}
.id{
    width: 2rem;
}
.order_container {
    margin-left: 10px;
    width: 100%;
    border: 1px solid black;
    position: relative;
    box-shadow: 0 0 10px black;
}
.inline_hide_container{
    width: 99%;
    justify-content: space-around;
    margin-top: 25px;
    display: inline-flex;
}
.confirm_order{
    background-color: green;
    height: 2rem;
    position: relative;
}
.droppable{

}
@media screen and (min-width: 1800px){
    html{
        font-size: 0.9rem;
    }
    input{
        font-size: 1rem;
    }
    button{
        font-size: 0.9rem;
    }
    .detailT{
        font-size: 0.9rem;
    }
    .detail{
        font-size: 0.9rem;
    }
    ::placeholder{
        font-size: 0.85rem;
    }
}

@media screen and (min-width: 2000px){
    html{
        font-size: 1rem;
    }
    input{
        font-size: 1rem;
    }
    button{
        font-size: 1rem;
    }
    .detailT{
        font-size: 1rem;
    }
    .detail{
        font-size: 1rem;
    }
    ::placeholder{
        font-size: 0.85rem;
    }
}