.inline_container{
    display: inline-flex;
    height: 2rem;
}
.inline{
    width: 100%;
    display: inline-flex;
    height: 1rem;
    background-color: slategrey;
}
.inline_container_j_between{
    display: inline-flex;
    width: 99%;
    margin-top: 25px;
    justify-content: space-between;
}
.all_details_container{
    border: 1px solid black;
    width: 99%;
    max-height: 150rem;
    position: relative;
    box-shadow: 0 0 10px black;
}
.insert_inline_container{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}
.detail_order{
    font-size: 0.8rem;
    width: 16%;
    margin-bottom: 5px;
    /*border-bottom: 1px solid darkgray;*/
    text-align: center;
    margin-left: 1px;
    margin-right: 1px;
    border-right: 1px solid black;
    font-weight: bold;
}
.detail_order_aray{
    font-size: 0.8rem;
    width: 66%;
    margin-bottom: 5px;
    /*border-bottom: 1px solid darkgray;*/
    text-align: center;
    margin-left: 1px;
    margin-right: 1px;
    border-right: 1px solid black;
    font-weight: bold;
}
.detail{
    font-size: 0.8rem;
    width: 16%;
    margin-bottom: 5px;
    /*border-bottom: 1px solid darkgray;*/
    text-align: center;
    margin-left: 1px;
    margin-right: 1px;
    border-right: 1px solid black;
}
.detailT{
    width: 16%;
    margin-bottom: 5px;
    font-size: 0.8rem;
    text-align: center;
    margin-left: 1px;
    margin-right: 1px;
    border-right: 1px solid black;
}
.id{
    width: 2rem;
}
.order_container {
    margin-left: 10px;
    width: 100%;
    border: 1px solid black;
    position: relative;
    box-shadow: 0 0 10px black;
}
.inline_hide_container{
    width: 99%;
    justify-content: space-around;
    margin-top: 25px;
    display: inline-flex;
}
.confirm_order{
    width: 100%;
    display: inline-flex;
    background-color: green;
    height: 2rem;
    position: relative;
    justify-content: space-around;
}
.today_orders{
    position: absolute;
    z-index: 9999;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: slategrey;
    display: none;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;
}
.close_today_order{
    cursor: pointer;
    border: 1px solid black;
    margin-left: 90%;
    width: 1.2rem;
    height: 1.2rem;
    text-align: center;
    float: right;
}
.insertToday{
    display: inline-flex;
    width: 100%;
    background-color: #ffec9d;
    min-height: 1.6rem;
    border: 1px solid black;
    border-collapse: collapse;
}
.article_plus_manufacturer{
    position: absolute;
    left: 28%;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid black;
    justify-content: center;
    cursor: pointer;
}
.vin_plus_carMark{
    position: absolute;
    left: 28%;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid black;
    justify-content: center;
    cursor: pointer;
}

@media screen and (min-width: 1800px){
    html{
        font-size: 0.9rem;
    }
    input{
        font-size: 1rem;
    }
    button{
        font-size: 0.9rem;
    }
    .detailT{
        font-size: 0.9rem;
    }
    .detail{
        font-size: 0.9rem;
    }
    ::placeholder{
        font-size: 0.85rem;
    }
}

@media screen and (min-width: 2000px){
    html{
        font-size: 1rem;
    }
    input{
        font-size: 1rem;
    }
    button{
        font-size: 1rem;
    }
    .detailT{
        font-size: 1rem;
    }
    .detail{
        font-size: 1rem;
    }
    ::placeholder{
        font-size: 0.85rem;
    }
}