body{
    font-size: 16px;

}
.inline_container{
    display: inline-flex;
    height: 2rem;

}
.inline_container_j_between{
    display: inline-flex;
    width: 99%;
    margin-top: 25px;
    justify-content: space-between;
}
.all_details_container{
    margin-top: 25px;
    border: 1px solid black;
    width: 99%;
    max-height: 150rem;
    overflow: hidden;
}
.insert_inline_container{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}
.detail{
    width: 15%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid darkgray;
}
.detailT{
    width: 15%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.id{
    width: 2rem;
}